.contact-page {
  text-align: center;
  margin-top: 0;
  color: white;
  background-color: rgb(18, 130, 155);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 20px;
}

.contact-page h1 {
  color: rgb(229, 241, 171);
  font-size: 3rem;
  margin-bottom: 30px;
  font-weight: bold;
}

.contact-details {
  margin: 20px 0;
}

.contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.contact-item .contact-icon {
  font-size: 30px;
  color: rgb(229, 241, 171);
  margin-right: 10px;
}

.contact-link {
  color:  rgb(229, 241, 171);
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold;
}

.contact-link:hover {
  color: white;
}

.send-message-btn {
  background-color: yellow;
  border-radius: 5px;
  padding: 12px 25px;
  font-size: 1.3rem;
  cursor: pointer;
  color: black;
  margin-top: 20px;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease;
}

.send-message-btn:hover {
  background-color: rgb(209, 39, 36);
  color:  rgb(229, 241, 171);
  border: 1px solid yellow;
  transform: scale(1.05);
}

/* Styles for the Send Message Section with Image */
.send-message-section {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url('your-image-path.jpg'); /* Set your image path */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.send-message-text {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.breadcrumb {
  background-color: transparent;
  color: yellow;
  size: 2rem;
}

.breadcrumb .breadcrumb-item a {
  color: yellow;
  text-decoration: none;
 
}

.breadcrumb .breadcrumb-item.active {
  color: white;
}
